.Button {
    display: block;
    margin: auto;
    background-color: #000;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 46px;
    width: 20%;

}

@media (max-width: 768px){


 .Button {

    width: 100%;
}



}

