.img-block {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
    margin-top: 110px;
    position: relative;
    padding-left: 12.0%;
    padding-right: 12.0%;

}

.container,
.container1,
.container2 {
    position: relative;
}

.content,
.content1,
.content2 {
    filter: brightness(70%);
    position: relative;
    height: 520px;
    object-fit: cover;
    width: 100%;
}



.text-block1,
.text-block2,
.text-block3 {
    left: 8%;
    position: absolute;
    top: 50%;
}


.text-block1 p {
    color: #fffffff5;
    font-family: cursive;
    font-size: 20px;
    width: 99%;
    margin-top: 0;
    text-align: left;
    text-shadow: 2px 2px #000;

}

.text-block1 h3 {
    color: #fffffff5;
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 8px;
    text-shadow: 2px 2px #000000;

}

.text-block1 button {
    background-color: #fffffff5;
    border: none;
    border-radius: 50px;
    color: #111;
    cursor: pointer;
    font-family: cursive;
    font-size: 18px;
    margin-top: 14px;
    padding: 8px 20px;
}





.text-block2 p {
    color: #fffffff5;
    font-family: cursive;
    font-size: 20px;
    width: 99%;
    margin-top: 0;
    text-align: left;
    text-shadow: 2px 2px #000;

}

.text-block2 h3 {
    color: #fffffff5;
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 8px;
    text-shadow: 2px 2px #000;

}

.text-block2 button {
    background-color: #fffffff5;
    border: none;
    border-radius: 50px;
    color: #111;
    cursor: pointer;
    font-family: cursive;
    font-size: 18px;
    margin-top: 14px;
    padding: 8px 20px;
}




.text-block3 p {
    color: #fffffff5;
    font-family: cursive;
    font-size: 20px;
    width: 99%;
    margin-top: 0;
    text-align: left;
    text-shadow: 2px 2px #000;

}

.text-block3 h3 {
    color: #fffffff5;
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 8px;
    text-shadow: 2px 2px #000;

}

.text-block3 button {
    background-color: #fffffff5;
    border: none;
    border-radius: 50px;
    color: #111;
    cursor: pointer;
    font-family: cursive;
    font-size: 18px;
    margin-top: 14px;
    padding: 8px 20px;
}