.main-section {
    color: var(--primaryTextcolor);
    margin: auto;
    max-width: 1400px;
    padding-left: 15px;
    padding-right: 15px;
}

.infor {

    margin-bottom: 140px;
    margin-top: 140px;

}

.infor h1 {

    color: #111;
    font-family: monospace;
    font-size: 62px !important;
    font-weight: bold;
    letter-spacing: -3px !important;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;

}

.infor p {

    color: #111;
    font-family: sans-serif;
    font-size: 32px;
    letter-spacing: 1.5px;
    text-align: center;

}

@media (max-width:768px) {

    .infor h1 {
        color: #111;
        font-family: sans-serif;
        font-size: 25px !important;
        letter-spacing: -2.1px !important;
        text-align: center;
        text-transform: uppercase;
    }

    .infor p{
        font-size: 16px;
        margin-top: 45px;
    }



}